<h1>
 <input [(ngModel)]="title.lastName" type="text">
 <textarea ref-textarea [(ngModel)]="textValue" rows="4"></textarea><br/>
 <button (click)="newMinor()">Test Button</button>
  <div>{{title.firstName}} {{title.lastName}}</div>
  <button (click)="logText(textarea.value)">Update Log</button>
  <h2>Log <button (click)="log=''">Clear</button></h2>
  <share-buttons 
   [url]="linkToShare" 
   [defaultStyle]="false"
   [facebook]="fbInner"
   [twitter]="twitterInner"
   [pinterest]="pintInner"
   [linkedIn]="inInner"
   [google]="googleInner"
   [tumblr]="tumblrInner"></share-buttons>
  <pre>{{log}}</pre>
 <app-update></app-update>
</h1>
