<h1>
 <input [(ngModel)]="title.lastName" type="text">
 <textarea ref-textarea [(ngModel)]="textValue" rows="4"></textarea><br/> 
  <div>
    {{title.firstName}} {{title.lastName}}
    <button (click)="logText(textarea.value)">Update Log</button>
     Log <button (click)="log=''">Clear</button> 
  </div> 
  <pre>{{log}}</pre>
  <div class="navbar-collapse collapse" id="navbar-main">
      <ul class="nav navbar-nav">
      <div class="navbar-header">
        <a routerLink='home' class="navbar-brand">CRUD</a>
      </div> 
          <a routerLink='create'>Create</a> 
          <a routerLink='list'>List</a> 
          <a routerLink='update'>Update</a> 
          <a routerLink='delete'>Delete</a> 
      </ul>
  </div>
</h1>
<div class='container'>
  <router-outlet></router-outlet>
</div>
 <div id="shareNew">
      <share-buttons 
       [url]="linkToShare" 
       [defaultStyle]="true"
       [facebook]="fbInner"
       [twitter]="twitterInner"
       [pinterest]="pintInner"
       [linkedIn]="inInner"
       [google]="googleInner"
       [tumblr]="tumblrInner"> 
       </share-buttons>
   </div>
