.sb-container{
   background-color: black;  
 }
 .sb-title{
    
 }
 .sb-count{
    
 }
 .sb-buttons{
     background-color: black;
 }
 .sb-btn{
     
 }
 .sb-btn-count{
    
 }
 body{
 	background-color: red;
 }
 #shareNew{
 	background-color: aquamarine;	
 }