<h1>
 <input [(ngModel)]="title.lastName" type="text">
 <textarea ref-textarea [(ngModel)]="textValue" rows="4"></textarea><br/>
 <button (click)="newMinor()">Test Button</button>
  <div>{{title.firstName}} {{title.lastName}}</div>
  <button (click)="logText(textarea.value)">Update Log</button>
  <h2>Log <button (click)="log=''">Clear</button></h2>
  <div id="shareNew">
      <share-buttons 
       [url]="linkToShare" 
       [defaultStyle]="true"
       [facebook]="fbInner"
       [twitter]="twitterInner"
       [pinterest]="pintInner"
       [linkedIn]="inInner"
       [google]="googleInner"
       [tumblr]="tumblrInner"> 
       </share-buttons>
   </div>
  <pre>{{log}}</pre>
 <app-create *ngIf="edited==true"></app-create>
 <app-list1></app-list1>
 <app-update></app-update>
 <app-delete></app-delete>
</h1>
